@font-face {
  font-family: "Poppins-Semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url(./assets/fonts/DancingScript-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(./assets/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(./assets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(./assets/fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Kanit-Regular";
  src: url(./assets/fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Kanit-Light";
  src: url(./assets/fonts/Kanit-Light.ttf);
}

#root {
  margin: 0;
  padding: 0;
  width: 100% !important;
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
}
.titleDiv {
  height: 100%;
  width: auto;
}
.swipermain {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out;
}

.swipermain::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(30 30 30 / 80%);
  z-index: 3;
}
.swiperimage {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.home-title-box {
  position: absolute;
  top: 40%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  margin: 0;
}

.reactNavbar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* height: 60px; */
}
.sidenav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.scroll-icon {
  position: fixed;
  bottom: 48px;
  right: 14px;
}
.newTitleCss {
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .home-title-box {
    top: 30% !important;
  }
  .sidenav-mobile {
    display: none !important;
  }
  .reactNavbar-main {
    top: 410px !important;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  .home-title-box {
    top: 30% !important;
  }
  .sidenav-mobile {
    display: none !important;
  }
  .reactNavbar-main {
    top: 750px !important;
  }
}
@media (min-width: 901px) and (max-width: 1023px) {
  .sidenav-mobile {
    display: block !important;
  }
  .titleDiv {
    height: 80% !important;
    width: auto;
  }
  .swipermain {
    height: 80% !important;
  }
}
@media (min-width: 427px) and (max-width: 900px) {
  .titleDiv {
    height: 52% !important;
    width: auto;
  }

  .swipermain {
    height: 52% !important;
  }
  .reactNavbar-main {
    display: none !important;
  }
}
@media (min-width: 326px) and (max-width: 426px) {
  .titleDiv {
    height: 42% !important;
    width: auto;
  }
  .home-title-box {
    top: 30% !important;
  }

  .swipermain {
    height: 42% !important;
  }
  .reactNavbar-main {
    display: none !important;
  }
}

@media (max-width: 325px) {
  .titleDiv {
    height: 40% !important;
    width: auto;
  }
  .home-title-box {
    top: 15% !important;
  }
  .reactNavbar-main {
    display: none !important;
  }

  .swipermain {
    height: 40% !important;
  }
}
