@font-face {
  font-family: "Poppins-Semibold";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url(./assets/fonts/DancingScript-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(./assets/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(./assets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(./assets/fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Kanit-Regular";
  src: url(./assets/fonts/Kanit-Regular.ttf);
}

@font-face {
  font-family: "Kanit-Light";
  src: url(./assets/fonts/Kanit-Light.ttf);
}
html {
  scroll-behavior: smooth;
}

#root {
  margin: 0;
  padding: 0;
  width: 100% !important;
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(135deg,  #4B0082 0%,  #6A0DAD 40%, #000000 100%  ); */
  background-color: #4b0082;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.titleDiv {
  height: 100%;
  width: auto;
}
.swipermain {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out;
}

.swipermain::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(30 30 30 / 80%);
  z-index: 3;
}
.swiperimage {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* .home-title-box {
  position: absolute;
  top: 40%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  margin: 0;
} */

.reactNavbar-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  /* height: 60px; */
}
.sidenav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.scroll-icon {
  position: fixed;
  bottom: 48px;
  right: 14px;
}
.newTitleCss {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000 0%, #2e003e 50%, #0000ff 100%);
}

.whyChooseMeroot {
  padding-top: 30px;
}
.project-swiper {
  height: auto;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.section {
  scroll-snap-align: start;
}

/* Linear Background  */

.about-linear {
  background: linear-gradient(67deg, #000000 0%, #2e003e 50%, #0000ff 100%);
}
.why-choose-me-linear {
  background: linear-gradient(127deg, #000000 0%, #2e003e 50%, #0000ff 100%);
}
.projects-linear {
  background: linear-gradient(74deg, #000000 0%, #2e003e 50%, #0000ff 100%);
}

/* Experience Pills */

.exp-pills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.exp-pills > .exp-pill {
  background-color: #4f00ffb3;
  padding: 8px 16px;
  /* border: 1px solid #00aaffc9; */
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.exp-pills > .exp-pill > h4 {
  font-size: 24px;
  font-family: Inter;
  color: #e8e8e8;
  margin: 0;
}
.exp-pills > .exp-pill > p {
  margin: 0;
  font-size: 12px;
  font-family: Inter;
  color: #c7c7c7;
}
.ctc-div {
  background: linear-gradient(45deg, #0337de, transparent);
  border-radius: 8px;
  padding: 8px 12px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* .home-title-box {
    top: 24% !important;
  } */
  .sidenav-mobile {
    display: none !important;
  }
  .reactNavbar-main {
    top: 410px !important;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  /* .home-title-box {
    top: 24% !important;
  } */
  .sidenav-mobile {
    display: none !important;
  }
  .reactNavbar-main {
    top: 750px !important;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .sidenav-mobile {
    display: block !important;
  }
  .reactNavbar-main {
    display: none !important;
  }
  .titleDiv {
    height: 80% !important;
    width: auto;
  }
}
@media (max-width: 764px) {
  .skill-box {
    width: 100% !important;
  }
}
@media (max-width: 520px) {
  .main-deiv-skills {
    flex-direction: column !important;
  }
}
@media (min-width: 427px) and (max-width: 900px) {
  .titleDiv {
    height: 52% !important;
    width: auto;
  }
  .about-linear {
    background: linear-gradient(68deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .why-choose-me-linear {
    background: linear-gradient(122deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .reactNavbar-main {
    display: none !important;
  }
}
@media (min-width: 326px) and (max-width: 426px) {
  .titleDiv {
    height: 42% !important;
    width: auto;
  }
  .about-linear {
    background: linear-gradient(77deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .why-choose-me-linear {
    background: linear-gradient(122deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .projects-linear {
    background: linear-gradient(78deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .reactNavbar-main {
    display: none !important;
  }
}

@media (max-width: 325px) {
  .titleDiv {
    height: 40% !important;
    width: auto;
  }
  .about-linear {
    background: linear-gradient(77deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .why-choose-me-linear {
    background: linear-gradient(122deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .projects-linear {
    background: linear-gradient(78deg, #000000 0%, #2e003e 50%, #0000ff 100%);
  }
  .reactNavbar-main {
    display: none !important;
  }
}
